.conjunto {
  width: 100%;
  height: 233px;
  background-image: url("../imgs/Products.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.conjunto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 65%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  left: 1em;
}

.container-titulo {
  text-align: center;
  color: var(--branco);
  font-weight: 700;
  font-size: 20px;
  padding: 1em;
}

.container-ancora {
  color: var(--branco);
  text-decoration: none;
  background-image: url("../imgs/right\ arrow\ white.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding: 12px;
  width: 80%;
  border: 1px solid var(--branco);
  border-radius: 4px;
  font-size: 14px;
}

@media screen and (min-width: 744px) {
  .conjunto {
    height: 293px;
    width: 552px;
    background-image: url("../imgs/Products\ medio.svg");
    background-size: cover;
    margin: 0 auto;
  }
  .conjunto__container{
    left: 4em;
    width: 50%;
  }
  .container-ancora{
    width: 50%;
  }
}


@media screen and (min-width: 1440px) {
  .conjunto {
    height: 345px;
    width: 1242px;
    background-image: url("../imgs/Products\ grande.svg");
    background-size: cover;
    margin: 0 auto;
  }
  .conjunto__container{
    left: 20em;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-ancora{
    width: 50%;
  }
  .container-titulo{
    font-size: 26px;
  }
}